#symbol_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

.page 
{
	width: 1600px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 35px;
}

.section 
{
width: 1600px;
margin: auto;
margin-top: 10px;
margin-bottom: 30px;
padding: 30px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border-bottom: 2px solid #00000085;
	}

.pure-g 
{
	padding: 0px;
	margin-bottom: 10px;
	background-color: white;
}